body {
	background-image: url("img/highlights-of-south-korea-40877782-1521806775-ImageGalleryLightboxLarge.jpg");
	background-attachment: scroll;
	background-position: center;
}

header { 
	padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
	border-bottom: 
	border-bottom
	padding: 110px;
}

ul{ list-style-type: 
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li { float: right;
}

li { display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-transform: 
}

li a {
  display: block;
  width: 60px;
}
